# AWS Configurations (MinIO used for local dev)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
S3_BUCKET_NAME=shopflow-data-lake

# RDS / PostgreSQL Configurations
RDS_HOST=localhost
RDS_PORT=5432
RDS_DATABASE=shopflow_dw
RDS_USER=postgres
RDS_PASSWORD=postgres

# Environment settings
ENVIRONMENT=development
LOG_LEVEL=INFO
DATA_VOLUME=1000

# Airflow configurations
AIRFLOW__CORE__FERNET_KEY=46b1UfeJ6uq7kqcv4rC8Wv758-C39_W48-Z87_C98_Q=
